*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.nav-container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body {
  background-color: #fff;
  font-size: 14px;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  line-height: 1.4;
  color: #000;
}
ul {
  list-style: none;
}
/* eader*/
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  border-bottom: #dbdbdb 1px solid;
  margin-bottom: 80px;
  background-color: #fff;
}

header ul {
  justify-content: flex-end;
  margin: 0 20px;
  width: 210px;
}
header .icons {
  justify-content: flex-start;
}

header img {
  width: 200px;
  height: 40px;
}
.icons {
  margin-left: 7px;
  display: flex;
}

.icons li {
  margin-right: 15px;
}

.nav-button {
  display: flex;
}
.subscribe {
  position: relative;
  right: 7px;
  padding: 7px 12px;
  background-color: #567b95;
  box-shadow: none;
  border-radius: 3px;
  color: #fff;
  border: none;
  font-size: 12px;
}

.login {
  background-color: #567b95;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 7px 12px;
  font-size: 12px;
}

button:hover {
  cursor: pointer;
  background-color: #466880;
}

figure figcaption {
  font-size: 14px;
  color: #666;
  margin-right: 270px;
}

figure figcaption span {
  color: #888;
  font-size: 13px;
}
