/* NAV BAR */
header nav {
    display: flex;
    height: 41px;
    background-color: #ffffff;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

header img {
    width: 200px;
}

.menu-lens {
    display: flex;
}

.nav-button button {
    margin-right: 20px;
    background-color: #326891;
    color: #ffffff;
}

.lens {
    margin-left: 40px;
}

.menu {
    margin-left: 20px;
}